
@import "./fonts.css";


.pizzas {
    display: flex;
    justify-content: center;
}

.pizzas {
    margin: 150px;
    display: flex;
    flex-direction: column;
}

.button{
    background: linear-gradient(to right, rgb(75, 116, 230), rgb(141, 85, 233));
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0px;
    font-weight: bold;
    padding: 5px 30px 5px 30px;
}