
@import "./fonts.css";


.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.pizza {
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.pizza p {
    font-size: 26px;
    text-align: center;
}

.addictions {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.addictions p {
    font-size: 26px;
    text-align: center;
}

.topping img{
    width: 130px;
    height: 120px;
}

.sizeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.toppings {
    display: flex;
    flex-direction: row; 
}

.topping {
    margin: 5px;
    display: flex;
    flex-direction: column;
 
}
.topping p {
    font-size: 15px;
    text-align: center;
}

.button{
    background: linear-gradient(to right, rgb(75, 116, 230), rgb(141, 85, 233));
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0px;
    font-weight: bold;
    padding: 5px 30px 5px 30px;
}

.buttonTopping{
    background: linear-gradient(to right, rgb(75, 116, 230), rgb(141, 85, 233));
    border-radius: 10px;
    font-weight: 100;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0px;
    font-weight: bold;
    padding: 5px 30px 5px 30px;
}

.buttonOrder{
    background: linear-gradient(to right, orange, rgb(235, 29, 10));
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0px;
    font-weight: bold;
    padding: 5px 30px 5px 30px;
}